.timer-container {
    flex-direction: column;
}

.timer {
    border-radius: 50%;
    min-width: 14rem;
    min-height: 14rem;
    padding: 4rem;
}

.time {
    text-align: center;
    min-width: 120px;
    font-weight: 300;
    color: $primary;
}

.controls {
    margin: 4rem 0;
}

.focus {
    color: $primary;
    background: rgba($color: $primary, $alpha: 0.09);
    border: 2.5px solid $primary;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

.btn {
    display: inline-block;
    min-width: 7rem;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem 2.25rem;
    margin: 0 1.25rem;
}

.btn-stop:hover {
    color: $orange;
    border-color: $orange;
}

.btn-play:hover {
    color: $green;
    border-color: $green;
}

.btn-short:hover {
    color: $orange;
    border-color: $orange;
}

.btn-long:hover {
    color: $green;
    border-color: $green;
}

.break {
    display: none;
}

.break-text {
    font-size: 0.75rem;
    font-weight: 700;
}

@media all and (min-width: 728px) {

}