/*contains reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*My reset*/
*::before, *, *::after {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: top; }

button {
  border: none;
  background: transparent;
  outline: none; }

/*contains colors and font family etc.*/
/*contains the font sizes etc.*/
/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #4797ec;
  height: 100%;
  background-image: url(../images/overlay.png), linear-gradient(180deg, #4797ec, #884beb 80%); }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  font-size: 1rem; }

/*Align text*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* Center child*/
.center-child {
  display: grid;
  place-items: center; }

/*Flex properties*/
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-start {
  display: flex;
  align-items: flex-start; }

[class*="grid-"] {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 1rem; }

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr); }

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px; }

header {
  margin-bottom: 3rem;
  background-image: url(../images/overlay.png); }

.logo {
  padding: 1rem; }
  .logo h1 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8); }

@media all and (min-width: 728px) {
  .logo h1 {
    font-weight: 300;
    letter-spacing: 0.25rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8); } }

.todo-container {
  align-items: flex-start; }

.grid-col-3 {
  grid-template-columns: 1fr; }

.todo {
  padding: 1rem; }
  .todo form {
    text-align: center; }

.todo-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center; }

.todo-input {
  width: 90%;
  outline: 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
  background: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem; }

.todo-list {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); }

.todo-item {
  width: 90%;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  font-size: 1.25rem;
  margin: 0 auto;
  cursor: pointer; }
  .todo-item i:hover {
    color: #FFB300; }

.checked span {
  color: #C0CA33;
  text-decoration: line-through; }

.timer-container {
  flex-direction: column; }

.timer {
  border-radius: 50%;
  min-width: 14rem;
  min-height: 14rem;
  padding: 4rem; }

.time {
  text-align: center;
  min-width: 120px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8); }

.controls {
  margin: 4rem 0; }

.focus {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.09);
  border: 2.5px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); }

.btn {
  display: inline-block;
  min-width: 7rem;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem 2.25rem;
  margin: 0 1.25rem;
  grid-column: span 2; }

.btn-stop:hover {
  color: #FFB300;
  border-color: #FFB300; }

.btn-play:hover {
  color: #C0CA33;
  border-color: #C0CA33; }

.btn-short {
  grid-column: span 1; }

.btn-short:hover {
  color: #FFB300;
  border-color: #FFB300; }

.btn-long {
  grid-column: span 1; }

.btn-long:hover {
  color: #C0CA33;
  border-color: #C0CA33; }

.break {
  display: none; }

.break-text {
  font-size: 0.75rem;
  font-weight: 700; }

@media all and (min-width: 728px) {
  .grid-col-3 {
    grid-template-columns: repeat(3, 1fr); } }

.footer {
  margin: 0;
  border-top: 2px solid rgba(85, 26, 139, 0.15);
  background: transparent;
  background-image: url(../images/overlay.png); }

.list-item {
  margin: 1rem 1rem;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); }
  .list-item a {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
    color: #551a8b; }
  .list-item a:hover {
    color: rgba(255, 255, 255, 0.8); }
  .list-item i {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
    font-weight: 500; }

@media all and (min-width: 728px) {
  .footer {
    margin-top: 2.625rem; } }
